// ## Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

// ## Colors
// ### Primary

$Pink: hsl(322, 100%, 66%);

// ### Neutral

$VeryPaleCyan: hsl(193, 100%, 96%);
$VeryDarkCyan: hsl(192, 100%, 9%);
$GrayishBlue: hsl(208, 11%, 55%);

body {
  font-size: 18px;
}
